<template name="proposalList">
    <div class="container">

        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <h2 class="text-center">{{i18n "PROPOSAL.ALL_PROPOSALS"}}</h2>
            </div>
            <div class="col-lg-1"></div>
        </div>

        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                ETAPA 0

                {{#each proposals}}
                    {{> proposalListItem}}
                {{/each}}
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</template>
