<template name="proposalAdd">
    <div class="container">

        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-9">
                <h2 class="text-center" style="margin-bottom: 55px;">{{i18n "PROPOSAL.NEW_PROPOSAL"}}</h2>
            </div>
            <div class="col-lg-1"></div>
        </div>

        <div class="row">
            <div class="col-lg-2 sidebar" style="min-width: 10em;">
                <ul class="nav nav-pills nav-stacked actions" style="max-width: 10em;">
                    <li class="btn btn-primary btn-min">
                        <a href="{{pathFor 'proposalList'}}" style="background-color: transparent; border: none; color: #ffffff; padding: 0; text-align: left;" >
                            <p class="center-horizontal">
                            Ver todas <br/>las propuestas
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9">
                <form role="form">
                    <nav id="upperBar">
                        <div class="form-group" style="display: inline-block">
                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-floppy-disk" style="color:mediumslateblue">
                                </span>&nbsp;{{i18n "PROPOSAL.SAVE_CHANGES"}}
                            </button>
                        </div>
                        <div class="form-group" style="display: inline-block; margin-left: 20px;">
                            <button type="button" name="proposal-add-btn-add-article" class="btn btn-default">
                                <span class="glyphicon glyphicon-plus-sign" style="color:yellowgreen">
                                </span>&nbsp;{{i18n "PROPOSAL.ADD_ARTICLE"}}
                            </button>
                        </div>
                    </nav>
                    <hr/>

                    <div class="form-group">
                        <label for="proposal-title-id">{{i18n "PROPOSAL.TITLE"}}:</label>
                        <input type="text" class="form-control" id="proposal-title-id"
                               placeholder='{{i18n "PROPOSAL.WRITE_A_PROPOSAL_TITLE"}}'>
                    </div>
                    <div class="form-group">
                        <label for="proposal-description">{{i18n "PROPOSAL.DESCRIPTION"}}:</label>
                        <textarea class="form-control" id="proposal-description" rows="7"
                                  placeholder='{{i18n "PROPOSAL.WRITE_A_PROPOSAL_DESCRIPTION"}}'></textarea>
                    </div>

                    <div id="proposal-add-articles">
                        <h3 class="text-center">{{i18n "PROPOSAL.ARTICLES"}}</h3>
                        <ol>
                            <!--suppress HtmlUnknownTag -->
                            <span id="proposal-add-last-article"></span>
                        </ol>
                    </div>

                    <hr/>
                    <nav id="bottomBar">
                        <div class="form-group" style="display: inline-block">
                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-floppy-disk" style="color:mediumslateblue">
                                </span>&nbsp;{{i18n "PROPOSAL.SAVE_CHANGES"}}
                            </button>
                        </div>
                        <div class="form-group" style="display: inline-block; margin-left: 20px;">
                            <button type="button" name="proposal-add-btn-add-article" class="btn btn-default">
                                <span class="glyphicon glyphicon-plus-sign" style="color:yellowgreen">
                                </span>&nbsp;{{i18n "PROPOSAL.ADD_ARTICLE"}}
                            </button>
                        </div>
                    </nav>
                </form>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</template>