<template name="proposalRead">
    <div class="container">

        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <h2 class="text-center" style="margin-bottom: 55px;">{{i18n "PROPOSAL.PROPOSAL"}}</h2>
            </div>
            <div class="col-lg-1"></div>
        </div>

        <div class="row">

            {{#with proposal}}
                <div class="col-lg-1" style="min-width: 10em;">
                </div>
                <div class="col-lg-10">
                    <fieldset style="margin-top: 55px;">
                        <legend>{{title}}</legend>

                        <div id="proposal-list-item-proposal">
                            <label>{{i18n "PROPOSAL.DESCRIPTION"}}:&nbsp;</label>
                            <p style="text-indent: 4em;">{{description}}</p>
                        </div>
                        <div id="proposal-list-item-articles">
                            <h3 class="text-center">{{i18n "PROPOSAL.ARTICLES"}}</h3>
                            {{#if $eq articles.count 0}}
                                <p>{{i18n "PROPOSAL.THIS_PROPOSAL_DOES_NOT_HAVE_ANY_ARTICLE"}}</p>
                            {{/if}}
                            <dl>
                                {{#each articles}}
                                <dt>Artículo Nº {{articleNumber}}:</dt>
                                <dd><p style="text-indent: 4em;">{{description}}</p></dd>
                                {{/each}}
                            </dl>
                        </div>

                        {{#if ownProposal}}
                            <div id="proposal-list-item-bottom-bar">
                                <a href="{{pathFor 'proposalEdit'}}" class="btn btn-primary btn-mini">Editar</a>
                                <button class="btn btn-danger btn-mini delete">Borrar</button>
                            </div>
                        {{/if}}
                    </fieldset>
                </div>
                <div class="col-lg-1"></div>
            {{/with}}
        </div>
    </div>
</template>
