<template name="proposalListItem">
    <fieldset style="margin-top: 55px;">
        <legend>{{title}}</legend>

        <div id="proposal-list-item-proposal">
            <label>{{i18n "PROPOSAL.DESCRIPTION"}}:&nbsp;</label>
            <p style="text-indent: 4em;">{{truncateWords description 1000}}</p>
        </div>
        <div id="proposal-list-item-articles">
            <h3 class="text-center">{{i18n "PROPOSAL.ARTICLES"}}</h3>
            <dl>
                {{#each articles}}
                    <dt>Artículo Nº {{articleNumber}}:</dt>
                    <dd><p style="text-indent: 4em;">{{description}}</p></dd>
                {{/each}}
            </dl>
        </div>
        <div>
            <a style="font-weight: bold; color: #428bca;" href="{{pathFor 'proposalRead'}}">
                {{i18n "PROPOSAL.SEE_FULL_TEXT"}}
            </a>
        </div>

        {{#if canEditProposal}}
            <div id="proposal-list-item-bottom-bar">
                <a href="{{pathFor 'proposalEdit'}}" class="btn btn-primary btn-mini">{{i18n "ACTIONS.EDIT"}}</a>
                <button class="btn btn-danger btn-mini delete">{{i18n "ACTIONS.DELETE"}}</button>
            </div>
        {{/if}}
    </fieldset>
</template>
