<template name="proposalEdit">
    <div class="container">


        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <h2 class="text-center" style="margin-bottom: 55px;">{{i18n "PROPOSAL.EDIT_PROPOSAL"}}</h2>
            </div>
            <div class="col-lg-1"></div>
        </div>

        {{#with proposal}}
            <div class="row">
                <div class="col-lg-1 sidebar" style="min-width: 10em; padding-right: 7em;">
                </div>
                <div class="col-lg-10">
                    <form role="form">
                        <nav id="upperBar">
                            <div class="form-group" style="display: inline-block">
                                <button type="submit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-floppy-disk" style="color:mediumslateblue">
                                    </span>&nbsp;{{i18n "PROPOSAL.SAVE_CHANGES"}}
                                </button>
                            </div>
                            <div class="form-group" style="display: inline-block; margin-left: 20px;">
                                <button type="button" class="btn btn-default" name="proposal-edit-btn-add-article">
                                    <span class="glyphicon glyphicon-plus-sign" style="color:yellowgreen">
                                    </span>&nbsp;{{i18n "PROPOSAL.ADD_ARTICLE"}}
                                </button>
                            </div>
                        </nav>
                        <hr/>
                        <div class="form-group">
                            <label for="proposal-title-id">{{i18n "PROPOSAL.TITLE"}}:</label>
                            <input type="text" class="form-control" id="proposal-title-id"
                                   placeholder='{{i18n "PROPOSAL.WRITE_A_PROPOSAL_TITLE"}}' value="{{ title }}">
                        </div>
                        <div class="form-group">
                            <label for="proposal-description">{{i18n "PROPOSAL.DESCRIPTION"}}:</label>
                            <textarea class="form-control" id="proposal-description" rows="7"
                                      placeholder='{{i18n "PROPOSAL.WRITE_A_PROPOSAL_DESCRIPTION"}}'>{{ description }}</textarea>
                        </div>


                        <div id="proposal-edit-articles">
                            <h3 class="text-center">{{i18n "PROPOSAL.ARTICLES"}}</h3>
                            <ol>
                                {{> articleList}}
                                <span id="proposal-edit-last-article"></span>
                            </ol>
                        </div>

                        <hr/>
                        <nav id="bottomBar">
                            <div class="form-group" style="display: inline-block">
                                <button type="submit" class="btn btn-default">
                                            <span class="glyphicon glyphicon-floppy-disk" style="color:mediumslateblue">
                                            </span>&nbsp;{{i18n "PROPOSAL.SAVE_CHANGES"}}
                                </button>
                            </div>
                            <div class="form-group" style="display: inline-block; margin-left: 20px;">
                                <button type="button" class="btn btn-default" name="proposal-edit-btn-add-article">
                                            <span class="glyphicon glyphicon-plus-sign" style="color:yellowgreen">
                                            </span>&nbsp;{{i18n "PROPOSAL.ADD_ARTICLE"}}
                                </button>
                            </div>
                        </nav>
                    </form>
                </div>
                <div class="col-lg-1"></div>
            </div>
        {{/with}}
    </div>
</template>