<template name="systemStatus">
    <p class="navbar-text">
        <a href="#" style="text-decoration: none;" data-tooltip-bottom="Ingrese para conocer más sobre las etapas">
            <span class="label label-success" style="font-size: 13px; color: #102030;">Etapa actual:&nbsp;
                <span style="color: white">{{lastStatusType.description}}
                    {{#if lastStatusHasDuration}}
                        <span style="font-weight: normal;">
                            ({{i18n "GLOBAL.HEADER.ENDS_IN"}}&nbsp;{{pluralize daysLeft "GLOBAL.HEADER.DAY"}})
                        </span>
                    {{/if}}
                </span>
            </span>
        </a>
    </p>
</template>